ul li a {
    color: gray;
    text-decoration: none;
    padding: 2px;
}
  
ul li a.active {
    color: #008080; /* Change color for active link */
    font-weight: bold;
    text-decoration: underline;
}
