ul li a {
    color: #2e2e2e;
    text-decoration: none;
    padding: 2px;
}
  
ul li a.active {
    color: #008080 !important;
    background: transparent !important ;
    /* font-weight: bold; */
    text-decoration: underline; 
}
